includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 8

    paths:
        - aiya-core.php
        - uninstall.php
        - src
        - packages/image-processor/src

    excludePaths:
        analyse:
            - */vendor/*

    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/bootstrap.php
        - phpstan-bootstrap.php

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
